#container {
    width: 440px;
    max-width: 440px;
}
#container > .button {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTnytwFaodFELB5Wl54G2YySyTb_7TF80CNC2Oj3pMv9esFO5Cj');
    margin-right: 0px;
    margin-bottom: 0px;
    opacity: 0.85;
    transition: all 0.07s ease-in-out;
    -moz-transition: all 0.07s ease-in-out;
    -webkit-transition: all 0.07s ease-in-out;
    cursor: pointer;
    border: none;
    padding: 0;
    outline: none;
}
#container > .button:hover {
    opacity: 9;
}
#container > .button.removed {
    background-image: none;
}

.game-in-progress {
  margin-top: 40px;
  padding: 0px;
  border: none;
}